<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/edit?ID={id}">
        <table class="table table-striped">
            <tr>
                <td>ID</td>
                <td><input type="text" name="ID" valueID disabled></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" valueName></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="classroom" valueClassroom></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="theoreticalpoint" valueTheoreticalPoint></td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td><input type="text" name="successpoint" valueSuccessPoint></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="evaluate" valueEvaluate></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="description" valueDescription></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</body>
</html>